<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Hei</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="/bootstrap.min.css">
	<style>
	    body    { padding-top:50px; }
	</style>

</head>
<body class="container">

    <header>
        <nav class="navbar navbar-default" role="navigation">
		    <div class="container-fluid">

		        <div class="navbar-header">
		            <a class="navbar-brand" href="/">
		                utiBlog
		            </a>
		        </div>

		        <ul class="nav navbar-nav">
		            <% include menu.ejs %>
		        </ul>
		      
		    </div>
		</nav>
    </header>

    <main>
        <div class="jumbotron">

