<% include partials/head.ejs %>

<% posts.forEach(function(entry) { %>
	<h3><%= entry.title %></h3>
	<p><%= entry.content %></p>
	<small><%= entry.created %> 
	<% 
	console.log('Entry.userid: ' + entry.userId + ' | userid:' + userid);
	if (entry.userId.toString() === userid.toString()) { console.log('true');
	%>| <a href="/blog/entry/<%= entry.id.toString() %>/edit">Edit</a> <% } %></small>
<% }); %> 


<% include partials/footer.ejs %>