<% include partials/head.ejs %>

    <h1><span class="fa fa-sign-in"></span> Create post</h1>

    <% 

    var contentContent = storedContent.content;
    console.log('Content in EJS: ' + contentContent);
    var contentTitle = storedContent.title;

    if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/createPost" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="<%= contentTitle %>">
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="content"><%= contentContent %></textarea>
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Create</button>
    </form>
<% include partials/footer.ejs %>